<%- include('include/head.ejs')%>
    <style>
        h1{
            margin: 4rem;
            font-size: 3rem;
            color: rgb(223, 15, 15);
        }
    </style>
</head>
<body>
    
    <h1>Page Not Found!!!!</h1>
<%- include('include/end.ejs')%>