<%- include('include/head.ejs')%>
    <style>
        h1{
            font-size: 3rem;
            /* //color: rgb(223, 15, 15); */
        }
        body{
            margin: 4rem;
        }
    </style>
</head>
<body>
    
    <h1>Some error Occurred</h1>
    <p>We're working on fixing this,Sorry for the inconvenience</p>
<%- include('include/end.ejs')%>